<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kt.mall.shop.logistics.mapper.LogisticsCompanyDAO">

    <cache type="cn.kt.mall.common.cache.MybatisRedisCache"/>


    <select id="getCompanyList" parameterType="string" resultType="cn.kt.mall.shop.logistics.vo.LogisticsVO">
        SELECT * FROM tb_logistics_company WHERE status=1
    </select>

</mapper>