<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kt.mall.management.admin.dao.FundOperationDAO">

    <!--查找解冻POPC列表-->
    <select id="getPopcList" resultType="cn.kt.mall.management.admin.vo.UnfreezeLogVO">
        SELECT
        l.unfreezeDate AS unfreezeDate,
        l.unfreezeCash AS unfreezeCash,
        l.userId AS userId,
        l.type AS type
        FROM
        tb_unfreeze_log l
        WHERE
        l.currency = 'popc'
        <if test="type !=null and type !=''">
            and l.type=#{type}
        </if>
        <if test="beginTime != null and beginTime != ''">
            <![CDATA[ AND l.createTime >= #{beginTime}]]>
        </if>
        <if test="endTime != null and endTime != ''">
            <![CDATA[ AND l.createTime <= #{endTime}]]>
        </if>
        <if test="minNum != null">
            <![CDATA[ AND l.unfreezeCash >= #{minNum}]]>
        </if>
        <if test="maxNum != null">
            <![CDATA[ AND l.unfreezeCash <= #{maxNum}]]>
        </if>
        ORDER BY l.createTime DESC
    </select>

    <!--查找店铺列表-->
    <select id="getShopList" parameterType="String" resultType="cn.kt.mall.management.admin.vo.ShopRespVO">
        SELECT
        s.id AS id,
        s.userId AS userId,
        s.shopNo AS shopNo,
        s.shopName AS shopName,
        s.shopLevel AS shopLevel,
        s.mobile AS mobile,
        s.name AS name
        FROM
        tb_shop_shop s
        WHERE s.status IN (1,3)
        <if test="shopType !=null and shopType !=''">
            and s.shopLevel=#{shopType}
        </if>
        <if test="shopNo !=null and shopNo !=''">
            and s.shopNo=#{shopNo}
        </if>
        <if test="shopName !=null and shopName !=''">
            and s.shopName=#{shopName}
        </if>
    </select>
    <!--查找店铺销售额-->
    <select id="getPerformance" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(totalCny),0) FROM tb_shop_trade t
        where t.status in (1,2,3)
        AND t.shopId = #{shopId}
        <if test="beginTime != null and beginTime != ''">
            <![CDATA[ AND t.createTime >= #{beginTime}]]>
        </if>
        <if test="endTime != null and endTime != ''">
            <![CDATA[ AND t.createTime <= #{endTime}]]>
        </if>
    </select>
    <!--查找全网销售额-->
    <select id="getAllPerformance" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(totalCny),0) FROM tb_shop_trade t
        where t.status in (1,2,3)
    </select>

    <!--资金列表-->
    <select id="getFundDetailList" parameterType="cn.kt.mall.management.admin.vo.CashRecordReqVO"
            resultType="cn.kt.mall.management.admin.vo.CashRecordVO">
        SELECT
        l.createTime AS createTime,
        l.operationType AS operationType,
        l.rechargeType AS rechargeType,
        l.rechargeAmount AS rechargeAmount,
        l.customerType AS customerType,
        l.status AS status,
        l.id AS id,
        l.userId AS userId,
        l.rechargeUser AS rechargeUser,
        l.remarks as remarks
        FROM
        tb_user_recharge_log l
        WHERE 1=1
        <if test="beginTime != null and beginTime != ''">
            <![CDATA[ AND l.createTime >= #{beginTime}]]>
        </if>
        <if test="endTime != null and endTime != ''">
            <![CDATA[ AND l.createTime <= #{endTime}]]>
        </if>
        <if test="opreatorUser != null and opreatorUser != ''">
            AND l.userId = (SELECT u.id FROM tb_user u WHERE u.mobile = #{opreatorUser})
            OR l.userId in (SELECT a.id FROM tb_admin a WHERE a.account LIKE CONCAT('%',#{opreatorUser},'%'))
        </if>
        <if test="phone != null and phone != ''">
            AND l.rechargeUser = (SELECT t.id FROM tb_user t WHERE t.mobile = #{phone})
        </if>
        <if test="status != null and status != ''">
            AND l.status = #{status}
        </if>
        <if test="operationType != null and operationType != ''">
            AND l.operationType = #{operationType}
        </if>
        ORDER BY l.createTime DESC
    </select>
    <!--查询系统操作日志-->
    <select id="getOperationLog" resultType="cn.kt.mall.management.admin.vo.UserOperatorLogVO">
        SELECT * FROM tb_user_operator_log
        WHERE 1=1
        <if test="startTime != null and startTime != ''">
            <![CDATA[ AND oprator_Time >= #{startTime}]]>
        </if>
        <if test="endTime != null and endTime != ''">
            <![CDATA[ AND oprator_Time <= #{endTime}]]>
        </if>
        <if test="account != null and account != ''">
            and account LIKE concat('%',#{account},'%')
        </if>
        ORDER BY oprator_Time DESC
    </select>
    <!--根据shopId查询详情-->
    <select id="shopSalesRecord" resultType="cn.kt.mall.shop.shop.vo.ShopSalesVO">
        SELECT
        t.id as id,
        r.trueName as buyUserName ,
        t.buyUserId as buyUserId ,
        r.mobile as moblie,
        t.totalCny as baseTotal ,
        t.createTime as createTime
        FROM
        tb_shop_trade t
        LEFT JOIN tb_user r ON t.buyUserId = r.id
        WHERE 1=1
        <if test="shopId!=null and shopId!=''">
            and t.shopId = #{shopId}
        </if>
        <if test="startTime != null and startTime!=''">
            and t.createTime <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and t.createTime <![CDATA[ <= ]]> #{endTime}
        </if>
        order by t.createTime desc
    </select>
    <!--查询优惠券转让记录-->
    <select id="getCouponTransfer" parameterType="String" resultType="cn.kt.mall.management.admin.vo.CouponTransferVO">
        SELECT
        l.*
        FROM
        tb_coupon_transfer_log l
        WHERE 1=1
        <if test="rollOutAccount!=null and rollOutAccount!=''">
            and l.rollOutUserId = (SELECT u.id FROM tb_user u WHERE u.mobile = #{rollOutAccount})
        </if>
        <if test="rollInAccount!=null and rollInAccount!=''">
            and l.rollInUserId = (SELECT u.id FROM tb_user u WHERE u.mobile = #{rollInAccount})
        </if>
        <if test="beginTime != null and beginTime!=''">
            and l.createTime <![CDATA[ >= ]]> #{beginTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and l.createTime <![CDATA[ <= ]]> #{endTime}
        </if>
        ORDER BY l.createTime DESC
    </select>
    <!--查询赠送记录-->
    <select id="getGivingRecord" parameterType="String" resultType="cn.kt.mall.management.admin.vo.CouponVO">
 <!--       SELECT
        rl.amount as amount,
        rl.createTime AS createTime,
        u.trueName AS trueName,
        u.mobile AS mobile,
        c.couponName AS couponName
        FROM
        tb_user_release_coupon_log rl
        LEFT JOIN tb_user_coupon_log cl ON rl.couponLogId = cl.id
        LEFT JOIN tb_coupon c ON c.id = cl.couponId
        LEFT JOIN tb_user u ON u.id = rl.userId
        WHERE 1=1
        and rl.releaseType = 0
        <if test="beginTime != null and beginTime!=''">
            and rl.createTime <![CDATA[ >= ]]> #{beginTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and rl.createTime <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="iphone!=null and iphone!=''">
            and rl.userId = (SELECT u.id FROM tb_user u WHERE u.mobile = #{iphone})
        </if>
        <if test="ids != null">
            AND c.id IN
            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY rl.createTime DESC-->

        SELECT
        cl.rechargeNum AS amount,
        cl.createTime AS createTime,
        u.trueName AS trueName,
        u.mobile AS mobile,
        c.couponName AS couponName
        FROM
        tb_user_coupon_log cl
        LEFT JOIN tb_coupon c ON c.id = cl.couponId
        LEFT JOIN tb_user u ON u.id = cl.userId
        WHERE
        1 = 1
        <if test="beginTime != null and beginTime!=''">
            and cl.createTime <![CDATA[ >= ]]> #{beginTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and cl.createTime <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="iphone!=null and iphone!=''">
            and cl.userId = (SELECT u.id FROM tb_user u WHERE u.mobile = #{iphone})
        </if>
        <if test="ids != null">
            AND c.id IN
            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY
        createTime DESC
    </select>
    <!--查询时间段-->
    <select id="getTradeTimeList" parameterType="String" resultType="cn.kt.mall.shop.shop.vo.HistoryProfitVO">
        SELECT
        DATE_FORMAT(c.createTime, '%Y-%m-%d') AS createTime
        FROM
        tb_shop_trade c
        WHERE 1=1
        <if test="beginTime != null and beginTime!=''">
            and c.createTime <![CDATA[ >= ]]> #{beginTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and c.createTime <![CDATA[ <= ]]> #{endTime}
        </if>
        UNION
        SELECT
        DATE_FORMAT(l.createTime, '%Y-%m-%d') AS createTime
        FROM
        tb_user_coupon_log l
        WHERE 1=1
        <if test="beginTime != null and beginTime!=''">
            and l.createTime <![CDATA[ >= ]]> #{beginTime}
        </if>
        <if test="endTime != null and endTime!=''">
            and l.createTime <![CDATA[ <= ]]> #{endTime}
        </if>
        ORDER BY createTime DESC
    </select>

    <!--查询收入相关数据-->
    <select id="getInHistoryProfit" resultType="cn.kt.mall.shop.shop.vo.HistoryProfitVO">
        SELECT
        IFNULL(SUM(t.point), 0) AS incomeTotalCredit,
        IFNULL(SUM(t.coined), 0) AS incomeTotalCoupon,
        str_to_date(t.createTime, '%Y-%m-%d') AS createTime
        FROM
        tb_shop_trade t
        WHERE 1=1
        <if test="createTime != null and createTime!=''">
            and date_format(t.createTime, '%Y-%m-%d') = #{createTime}
        </if>
        GROUP BY str_to_date(t.createTime, '%Y-%m-%d')
    </select>
    <!--查询赠送相关数据-->
    <select id="getOutHistoryProfit" resultType="cn.kt.mall.shop.shop.vo.HistoryProfitVO">
        <!--SELECT
        SUM(rechargeNum) AS rechargeNum,
        min(speciesType) AS speciesType
        FROM
        tb_user_coupon_log
        WHERE 1=1
        <if test="createTime != null and createTime!=''">
            and str_to_date(createTime, '%Y-%m-%d') = #{createTime}
        </if>
        GROUP BY
        speciesType-->
        SELECT
            IFNULL(SUM(rechargeNum),0) AS rechargeNum,
            IFNULL(min(couponName),0) AS couponName
        FROM
            tb_user_coupon_log
        WHERE 1=1
            <if test="createTime != null and createTime!=''">
                and str_to_date(createTime, '%Y-%m-%d') = #{createTime}
            </if>
        GROUP BY
        couponName
    </select>

    <!--根据时间在表tb_user_return_coupon_log查询优惠券-->
    <select id="getCouponCount" resultType="java.math.BigDecimal">
        SELECT
        IFNULL(SUM(l.amount),0)
        FROM
        tb_user_return_coupon_log l
        WHERE 1=1
        <if test="createTime != null and createTime!=''">
            and str_to_date(l.createTime, '%Y-%m-%d') = #{createTime}
        </if>
    </select>
</mapper>