<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kt.mall.common.wallet.mapper.TransferDAO">

    <cache type="cn.kt.mall.common.cache.MybatisRedisCache"/>

    <insert id="add" parameterType="cn.kt.mall.common.wallet.entity.TransferEntity" flushCache="true">
        REPLACE INTO tb_user_transfer(hash, block, `from`, `to`, amount, mark, status, createTime, lastTime)
        VALUES (#{hash}, #{block}, #{from}, #{to}, #{amount}, #{mark}, #{status}, NOW(), NOW())
    </insert>

    <select id="getTransfer" resultType="cn.kt.mall.common.wallet.entity.TransferEntity">
        SELECT * FROM tb_user_transfer WHERE userId=#{userId}
    </select>

    <select id="getUnConfirmTransfer" resultType="cn.kt.mall.common.wallet.entity.TransferEntity">
        SELECT * FROM tb_user_transfer WHERE status='0' limit 0,100
    </select>

    <update id="confirm" parameterType="string" flushCache="true">
        UPDATE tb_user_transfer SET status='1' WHERE hash=#{hash}
    </update>

</mapper>