<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="cn.kt.mall.im.moments.mapper.MomentsLikeEntityMapper">
	<resultMap id="BaseResultMap"
		type="cn.kt.mall.im.moments.entity.MomentsLikeEntity">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="moments_id" property="momentsId"
			jdbcType="BIGINT" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, moments_id, user_id, create_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from tb_moments_like
		where id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="selectByUserIdAndMomentsId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_moments_like
		where moments_id = #{momentsId,jdbcType=BIGINT} and user_id = #{userId,jdbcType=VARCHAR}
	</select>
	
	<select id="selectLikeUserList" resultType="cn.kt.mall.im.moments.vo.LikeRespVO">
		select 
			t.id,t.moments_id as momentsId,t.user_id,
			u.avatar,u.nick,u.username,t.create_time as createTime,ir.remark_name as remarkName
		from tb_moments_like t
		left join tb_moments m on t.moments_id = m.id
		left join tb_user u on u.id = t.user_id
		left join tb_im_user_remark ir on ir.friend_id = t.user_id and ir.user_id = #{userId}
		where t.moments_id in
		<foreach collection="list" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from tb_moments_like
		where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<delete id="deleteByMomentsId" parameterType="java.lang.Long">
		delete from tb_moments_like
		where moments_id = #{momentsId,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert"
		parameterType="cn.kt.mall.im.moments.entity.MomentsLikeEntity">
		insert into tb_moments_like (id, moments_id, user_id,
		create_time)
		values (#{id,jdbcType=BIGINT}, #{momentsId,jdbcType=BIGINT},
		#{userId,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective"
		parameterType="cn.kt.mall.im.moments.entity.MomentsLikeEntity">
		insert into tb_moments_like
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="momentsId != null">
				moments_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="momentsId != null">
				#{momentsId,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="cn.kt.mall.im.moments.entity.MomentsLikeEntity">
		update tb_moments_like
		<set>
			<if test="momentsId != null">
				moments_id = #{momentsId,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="cn.kt.mall.im.moments.entity.MomentsLikeEntity">
		update tb_moments_like
		set moments_id = #{momentsId,jdbcType=BIGINT},
		user_id = #{userId,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>